<hr>

<h1><center>Welcome to Stack_Overflow</center><h1>

<hr>

<h2><center>Here are the questions we have so far:</center></h2>

<ul>
    <% @questions.each do |question| %>
        <li><%= link_to question.query, question_path(question) %> </li>
        <p>By: <strong><%= question.author %></strong></p>
    <% end %>
</ul>

<br>

<%= link_to "Add New", new_question_path %>


